body {
    background: #2e3440;
}

h1 {
    font-family: 'Comfortaa';
    color: #eceff4;
    font-size: 18px;
    float: left;
    clear: right;
}

h2 {
    font-family: 'Comfortaa';
    color: #eceff4;
    font-size: 18px;
    float: right;
}

hr{
    color: #eceff4;
    width: 100%;
}

#rocket {
    text-align: center;
    padding: 10px;
}

#rocket #blur {
    background: url("rocket.png");
    filter: blur(8px);
    width: 100%;
    height: 400px;
}

div img {
    width: 50%;
    height: auto;
    position: absolute;
    top: 9%;
    left: 25%;
    z-index: 4;
    filter: blur(0.5px);
    border-radius: 5px;
}